@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @font-face {
    font-family: "Droid Sans";
    src: url("/fonts/DroidSans/DroidSans-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  .custom-range {
    background: #ddd;
    height: 6px;
    border-radius: 5px;
  }
  /* below for slider style */
  .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #673ab7;
    border-radius: 50%;
    cursor: pointer;
  }

  .custom-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #673ab7;
    border-radius: 50%;
    cursor: pointer;
  }

  body {
  }
}
